%h1 Listing recollections
= link_to 'Recollection Pages', project_recollection_pages_path(@project)
%br
= render 'table', recollections: @recollections
%br

= link_to 'New Recollection', new_project_recollection_path(@project)
= paginate @recollections
